.productos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video{
    margin: 100px;
}

video{
    border-radius: 20px;
}

.productos-description{
    width: 70vw;
    font-family: 'Roboto';
    font-size: 1.6rem;
    text-align: justify;
    color: #666666;
}

@media only screen and (max-width: 600px){
    .video{
        margin: 0;
    }
    
    video{
        width: 300px;
        height: 300px;
    }
}