.HomeBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    margin: auto;
    padding: 20px 60px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 1.5rem;
    box-shadow: 4px 5px 5px #00000099;
    transition: all 0.2s ease-in-out;
    
}

.HomeBtn:active{
    transform: translateY(5px);
}

.HomeBtn:hover{
    transform: scale(1.05);
}

.link{
    text-decoration: none;
    color: #ffffff;
    margin-top: 100px;
}