.promociones-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promociones-cards{
    margin: 2rem 0;
    width: 100%;
}

.back-to-cart{
    padding: 20px;
    margin-top: 60px;
    background-color: #DF3B5750;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Roboto';
    font-size: 1.5rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.back-to-cart:hover{
    transform: scale(1.1);
}