.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F4ED;
    border-radius: 10px;
    margin: 50px;
    width: 60vw;
    height: 30rem;
}

.form-title{
    text-transform: uppercase;
    font-family: 'roboto';
    font-weight: 100;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 50px 0 0;
    height: 8rem;
}

.form-inputs input,textarea{
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 20rem;
}

.form-inputs input::placeholder{
    text-transform: uppercase;
}

.form-inputs-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

