/* .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 50px 0;
  background-color: #f4f4f4;
}

.item {
  display: flex;
  margin: 10px 15px;
}

.item > img {
  width: 25px;
  margin: 0px 6px 0px 0px;
}



.item > a {
  text-decoration: none;
  color: #1b1b1b;
}

@media all and (max-width: 600px) {
  .footer-container {
    display: none;
    
  }

  
} */

.footer-container {
  display: flex;
  width: 100%;
  margin: 50px 0;
  background-color: #f4f4f4;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  display: flex;
  margin: 10px 15px;
  font-family: 'Roboto';
}

.item a {
  text-decoration: none;
  color: #1b1b1b;
}

.icon-social{
  width: 25px;
}