.quienes-somos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quienes-somos-container>p{
    text-align: justify;
    width: 60vw;
    font-size: 1.5rem;
    margin: 2rem 0;
    font-family: 'Roboto';
    letter-spacing: 0.05rem;
    color: #666666;
}

@media only screen and (max-width: 600px) {
  .quienes-somos-container>p{
      text-align: start;
    width: 80vw;
    font-size: 1.1rem;
    margin: 1rem 0;
    font-family: 'Roboto';
    letter-spacing: 0.05rem;
    color: #666666;
}
}
