.ventas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ventas-subtitle{
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 20px 30px;
    background-color: #c4c4c450;
    border-radius: 10px;
    margin: 50px 0;
}

.ventas-select-producto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-color: whitesmoke;
}

.ventas-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 30vw;
}

.insise-precio{
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.insise-precio>label{
    margin-right: 10px;
    font-size: 20px;
}

.ventas-select>label{
    font-family: 'Roboto';
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.ventas-select-producto select,input{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #DF3B5750;
    text-align: center;
    appearance: none;
}

.ventas-precio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 53px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #DF3B5750;
}

.select-med{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ventas-agregar{
    padding: 20px;
    background: none;
    border: 1px solid #a7a7a7;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ;
    width: 40vw;
    text-transform: uppercase;
    box-shadow: 4px 5px 7px #a7a7a7;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2rem;
}

.ventas-agregar:active{
    transform: translateY(5px);
}

.carrito-array{
    display: flex;
    flex-direction: column;
    color: black;
}

.carrito{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.carrito-item{
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 20px;
    background-color: #DF3B5750;
}

.ventas-enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    padding: 20px;
    background: none;
    border: 1px solid #a7a7a7;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ;
    font-size: 1.4rem;
    font-family: 'roboto';
    margin-top: 40px;
    box-shadow: 4px 5px 7px #a7a7a7;

}

.ventas-enviar:active{
    transform: translateY(5px);
}

.ventas-enviar:hover{
    transform: skewY(2deg);
}