.box-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 30px;
}

.boxButton-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff60;
    border-radius: 5px;
    width: 40%;
    margin: 5px;
    box-sizing: border-box ;
}


.box1{
    background-color: #EF8354;
}

.box2{
    background-color: #EE4B6A;
}

.box3{
    background-color: #DF3B57;
}

.box4{
    background-color: #0F7173;
}

.box5{
    background-color: #EF8354;
}

.box6{
    background-color: #DF3B57;
}

.boxButton-description{
    font-size: 0.7rem;
    font-family: 'Roboto';
    font-weight: 300;
    margin: 20px 0;
    text-transform: upperc ase;
    color: #fff;
    text-shadow: 5px 4px 4px #00000080;
}