.sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 7rem;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    background-color: #FFEEE7;
    margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  .sub-header{
    height: 4rem;
    font-size: 1rem;
    background-color: #FFEEE7;
    margin: 1.5rem 0;
}
}
