.galeria-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.galeria-description {
  display: flex;
  flex-direction: column;
  margin: 6rem auto;
  font-family: "Roboto";
  font-size: 1.4rem;
  width: 60vw;
}

.galeria-buttons {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 0 0;
}

.galeria-buttons button {
  padding: 18px 25px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(253, 218, 240);
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px grey;
  outline: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-transform: uppercase;
}

.galeria-buttons button:hover {
  box-shadow: 0px 0px 4px 0px grey;
}

@media only screen and (max-width: 600px) {
  .galeria-description {
    margin: 3rem auto;
    font-size: 1rem;
    width: 80vw;
    text-align: start;
  }

  .galeria-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px 0 0 0;
  }

  .galeria-buttons button {
    padding: 13px 5px;
    font-size: 0.8rem;
    border: none;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: rgb(253, 218, 240);
    cursor: pointer;
    box-shadow: 2px 2px 4px 2px grey;
    outline: none;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-transform: uppercase;
  }


}
