.galeria-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galeria-description{
    display: flex;
    margin: 6rem auto;
    font-family: 'Roboto';
    font-size: 1.4rem;
}