.box{
    box-sizing: border-box;
    display: flex;
    justify-content:space-around ;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 20vw;
    height: 12vh;
    color: #fff;
    padding: 10px;
    margin: 0.5rem;
}

.color1{
    background-color: #DF3B57;
}
.color2{
    background-color: #EF8354;
}
.color3{
    background-color: #EE4B6A;
}
.color4{
    background-color: #0F7173;
}

.box-icon{
    width: 1rem;
    height: 1rem;
}

.box-description{
    font-size: 0.45rem;
    width: 100%;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 400;
}

.fake-btn-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}